<link rel="stylesheet" [href]="domSanitizer.bypassSecurityTrustResourceUrl(cssUrl)" />
<mat-toolbar color="primary"
  >My App

  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent let-name="name">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Log off</button>
    </ng-template>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{ name: 'Bob' }">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <mat-card>
    <mat-card-title>Selected theme: {{ dTheme }} </mat-card-title>
    <mat-card-header>
      <mat-form-field>
        <mat-label>Favorite theme</mat-label>
        <mat-select (selectionChange)="themesSelected($event.value)">
          <mat-option *ngFor="let theme of themes" [value]="theme">
            {{ theme }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <button mat-raised-button color="error">error</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="warn">warn</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="accent">accent</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="primary">primary</button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
<mat-toolbar color="accent">Footer </mat-toolbar>
